ErrorDocument 400 /error
ErrorDocument 401 /error
ErrorDocument 403 /error
ErrorDocument 404 /error
ErrorDocument 500 /error
RewriteEngine On
Rewriterule ^login login.php
Rewriterule ^logout logout.php
Rewriterule ^userregister userregister.php
Rewriterule ^nojs nojs.php
Rewriterule ^psico/(.*) psico.php?regkey=$1
Rewriterule ^changelanguage/(.*)/(.*) changeLanguage.php?langCode=$1&callbackUrl=$2 [L,QSA]
Rewriterule ^psico psico.php
Rewriterule ^start start.php
Rewriterule ^error error.php
Rewriterule ^maintenance maintenance.php
Rewriterule ^checkinmediatesession checkinmediatesession.php
Rewriterule ^notifymaintenance notifyMaintenance.php
Rewriterule ^loggedRedirect loggedRedirect.php
Rewriterule ^checklogin checkLogin.php
Rewriterule ^contact contact.php
Rewriterule ^regCaptcha regCaptcha.php
Rewriterule ^pingonline pingonline.php
Rewriterule ^pingoffline pingoffline.php
Rewriterule ^loadMore loadMore.php
Rewriterule ^recover recover.php
Rewriterule ^unsubscribe unsubscribe.php
Rewriterule ^calendarhours calendarHours.php
Rewriterule ^checkmaintenance checkMaintenance.php
Rewriterule ^newpayment newpayment.php
Rewriterule ^checkconfig checkConfig.php
Rewriterule ^getclientcc getclientcc.php
Rewriterule ^generatecode generateCode.php
Rewriterule ^changeprofileimage changeprofileimage.php
Rewriterule ^updateprofile updateprofile.php
Rewriterule ^generatenewblockedcode generatenewblockedcode.php
Rewriterule ^checkupdateprofilepin checkupdateprofilepin.php
Rewriterule ^checksession checksession.php
Rewriterule ^settimezone settimezone.php
Rewriterule ^pingsession pingsession.php
Rewriterule ^updatepassword updatepassword.php
Rewriterule ^checkupdatepasswordpin checkupdatepasswordpin.php
Rewriterule ^passrecover passrecover.php
Rewriterule ^codepassrecover codepassrecover.php
Rewriterule ^testsearch testsearch.php
Rewriterule ^gettestinfo gettestinfo.php
Rewriterule ^setdonetest setdonetest.php
Rewriterule ^getsessionmessages getsessionmessages.php
Rewriterule ^updatepsiconotes updatepsiconotes.php
Rewriterule ^getpsiconotes getpsiconotes.php
Rewriterule ^votepsico votepsico.php
Rewriterule ^updateprofpsico updateprofpsico.php
Rewriterule ^checkupdateprofprofilepin checkupdateprofprofilepin.php
Rewriterule ^updatecalprof updatecalprof.php
Rewriterule ^checkinmediatesessionpsico checkinmediatesessionpsico.php
DirectoryIndex start.php